<?xml version="1.0" encoding="utf-8" ?>
<MobileSettings
common-automationName=""
common-appium-version=""
common-appium-start-node-server="true"
common-appium-node-server-commandline="C:/Progra~2/appium/Appium/Node.exe"
common-appium-node-server-arguments="C:/Progra~2/appium/Appium/node_modules/appium/bin/appium.js --address 127.0.0.1 --port 4723 --full-reset"
common-appium-node-server-executable-name="node"
common-appium-node-start-wait-time=""
common-grid-url="http://127.0.0.1:4723/wd/hub"
common-platform-name="android"
common-platform-version="5.1"
common-device-name="04ea252d124877ce"
common-device-type="phone"
common-browser-name="Chrome"
common-new-command-line-timeout="300"
common-use-saucelabs="false"
common-saucelabs-username="stephen-rufle-atf"
common-saucelabs-accesskey="b349a801-f092-40f7-8857-46d849064db3"
common-app=""
common-autoLaunch=""
common-language=""
common-locale=""
common-udid=""
common-orientation=""
common-autoWebview=""
common-noReset=""
common-fullReset=""
android-appActivity=""
android-appPackage=""
android-appWaitActivity=""
android-appWaitPackage=""
android-deviceReadyTimeout=""
android-androidCoverage=""
android-enablePerformanceLogging=""
android-androidDeviceReadyTimeout=""
android-androidDeviceSocket=""
android-avd=""
android-avdLaunchTimeout=""
android-avdReadyTimeout=""
android-avdArgs=""
android-useKeystore=""
android-keystorePath=""
android-keystorePassword=""
android-keyAlias=""
android-keyPassword=""
android-chromedriverExecutable=""
android-autoWebviewTimeout=""
android-intentAction=""
android-intentCategory=""
android-intentFlags=""
android-optionalIntentArguments=""
android-stopAppOnReset=""
android-unicodeKeyboard=""
android-resetKeyboard=""
android-noSign=""
android-ignoreUnimportantViews=""
ios-calendarFormat=""
ios-bundleId=""
ios-launchTimeout=""
ios-locationServicesEnabled=""
ios-locationServicesAuthorized=""
ios-autoAcceptAlerts=""
ios-autoDismissAlerts=""
ios-nativeInstrumentsLib=""
ios-nativeWebTap=""
ios-safariInitialUrl=""
ios-safariAllowPopups=""
ios-safariIgnoreFraudWarning=""
ios-safariOpenLinksInBackground=""
ios-keepKeyChains=""
ios-localizableStringsDir=""
ios-processArguments=""
ios-interKeyDelay=""
ios-showIOSLog=""
ios-sendKeyStrategy=""
ios-screenshotWaitTimeout=""
ios-waitForAppScript=""
/>