<?xml version="1.0" encoding="utf-8" ?>  
 <WebDriverSettings
    webDriver-browser="FireFox_Driver"
    driver-path=""
    browser-name="Firefox"
    browser-file-path=""
    browser-version=""
    browser-platform=""
    browser-download-path=""
    browser-download-prefix=""
    browser-proxy=""
    use-firebug="false"
    firebug-file=""
    use-grid="false"
    grid-url=""
    />

