<?xml version="1.0" encoding="utf-8" ?>  
 <WebDriverSettings
    common-browser-name="Chrome"
    common-browser-version=""
    common-browser-download-path="C:\Projects\ATF\Atf.Net\zOther\Drivers"
    common-browser-platform=""
    common-takes-screenshot=""
    common-handles-alerts=""
    common-css-selectors-enabled=""
    common-javascript-enabled=""
    common-database-enabled=""
    common-location-context-enabled=""
    common-application-cache-enabled=""
    common-browser-connection-enabled=""
    common-web-storage-enabled=""
    common-accept-ssl-certs=""
    common-rotatable=""
    common-native-events=""
    common-proxy=""
    common-unexpected-alert-behavior=""
    common-element-scroll-behavior=""
    
    common-json-proxy-type=""
    common-json-proxy-auto-config-url=""
    common-json-proxy=""
    common-json-socks-username=""
    common-json-socks-password=""
    common-json-no-proxy=""
    common-json-logging-component=""
    
    common-remote-webdriver-remote-quiet-execptions=""
    
    common-grid-use="false"
    common-grid-url=""
    common-grid-selenium-protocol=""
    common-grid-max-instances=""
    
    opera-binary=""
    opera-guess-binary-path=""
    opera-no-restart=""
    opera-product=""
    opera-no-quit=""
    opera-autostart=""
    opera-display=""
    opera-idle=""
    opera-profile=""
    opera-launcher=""
    opera-port=""
    opera-host=""
    opera-arguments=""
    opera-logging-file=""
    opera-logging-level=""
    
    chrome-proxy=""
    chrome-options-args=""
    chrome-options-binary=""
    chrome-options-extentions=""
    
    firefox-profile-dir-and-filename=""
    firefox-logging-prefs=""
    firefox-binary=""
    firefox-rc-mode=""
    firefox-rc-capture-network-traffic=""
    firefox-rc-add-custom-request-header=""
    firefox-trust-all-ssl-certs=""
    firefox-webdriver-accept-untrusted-certs=""
    firefox-webdriver-assume-untrusted-issuer=""
    firefox-webdriver-log-driver=""
    firefox-webdriver-log-file=""
    firefox-webdriver-load-strategy=""
    firefox-webdriver-port=""
    
    ie-ignore-protected-mode-settings=""
    ie-ignore-zoom-setting=""
		ie-initial-browser-url=""
		ie-enable-persistent-hover=""
		ie-enable-element-cache-cleanup=""
		ie-require-window-focus=""
		ie-browser-attach-timeout=""
		ie-force-create-process-api=""
		ie-browser-cmd-line-switches=""
		ie-use-per-process-proxy=""
		ie-ensure-clean-session=""
		ie-log-file=""
		ie-log-level=""
		ie-host=""
		ie-extract-path=""
		ie-silent=""
		ie-set-proxy-by-server=""
		ie-rc-mode=""
		ie-rc-kill-processes-by-name=""
		ie-rc-honor-system-proxy=""
		ie-rc-ensure-clean-session=""
    
    safari-use-options=""
		safari-data-dir=""
		safari-driver-extension=""
		safari-skip-extension-installation=""
		safari-port=""
		safari-use-clean-session=""
		safari-rc-mode=""
		safari-rc-honor-system-proxy=""
/>
